@-webkit-keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.head_news {
  background-image: url("../img/bg_head_news.png");
}

.news {
  width: 100%;
  max-width: 1170px;
  margin: 70px auto;
  font-size: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .news {
    width: 98%;
  }
}

@media screen and (max-width: 600px) {
  .news {
    width: 55%;
  }
}

@media screen and (max-width: 414px) {
  .news {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .news {
    width: 90%;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .news {
    width: 75%;
  }
}

.news ul {
  width: 100%;
  text-align: left;
}

.news ul li {
  width: 23%;
  display: inline-block;
  margin: 1%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  position: relative;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .news ul li {
    width: 30.333333333%;
    margin: 1.5%;
  }
}

@media screen and (max-width: 600px) {
  .news ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 10%;
  }
}

.wrap-news-pic {
  width: 100%;
  height: 155px;
  overflow: hidden;
  position: relative;
}

.wrap-news-pic .news-pic {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrap-news-pic .news-pic img {
  width: 100%;
}

.wrap-news-pic .news-pic:hover {
  width: 110%;
  opacity: .8;
}

.wrap-news-content {
  width: 85%;
  margin: 20px auto;
}

.news-content {
  width: 100%;
  margin: 20px 0;
  border-left: 3px solid #b88b01;
  padding: 2px 8px 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.news-content .headline {
  font-size: 16px;
  color: #b88b01;
  line-height: 1.25;
  padding-bottom: 10px;
}

.news-content p {
  font-size: 13px;
  line-height: 1.54;
  color: #686868;
  text-align: justify;
  text-justify: inter-ideographic;
}

.btn-news {
  width: 60px;
  height: 22px;
  background-color: #b88b01;
  border-radius: 5px;
  color: white;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: 12px;
}

.btn-news:hover {
  color: #fff;
  background-color: #686868;
}

.btn-news:hover .arrow {
  -webkit-transform: rotate(45deg) translate(5px, -5px);
  transform: rotate(45deg) translate(5px, -5px);
  border-color: white;
}

.btn-news .txt {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  margin-right: 5px;
}

.btn-news .arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border: 2px solid white;
  border-left: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg) translateY(0);
  transform: rotate(45deg) translateY(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-news:hover .arrow {
  -webkit-transform: rotate(45deg) translate(1px, -1px);
  transform: rotate(45deg) translate(1px, -1px);
}

.news-date {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 40;
  color: #b88b01;
  text-align: center;
  font-weight: 500;
}

.news-date .month {
  font-size: 11px;
  line-height: .4;
  margin-top: 12px;
}

.news-date .day {
  font-weight: 800;
  letter-spacing: -1px;
  font-size: 20px;
}

.news-date-expand {
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 40;
  color: #b88b01;
  text-align: center;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .news-date-expand {
    width: 100px;
    height: 100px;
    left: 30px;
    top: 30px;
  }
}

.news-date-expand .month {
  font-size: 11px;
  line-height: .4;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .news-date-expand .month {
    font-size: 16px;
    margin-top: 32px;
  }
}

.news-date-expand .day {
  font-weight: 800;
  letter-spacing: -1px;
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  .news-date-expand .day {
    font-size: 32px;
  }
}

.popup-news {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
}

.news-expand {
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .news-expand {
    width: 70%;
  }
}

@media screen and (max-width: 375px) {
  .news-expand {
    width: 100%;
    margin-top: 0px;
  }
}

.news-expand img {
  width: 100%;
}

.news-expand .wrap-news-content {
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 375px) {
  .news-expand .wrap-news-content {
    width: 80%;
  }
}

.news-expand .wrap-news-content h4 {
  font-size: 24px;
  color: #b88b01;
  margin: 30px 0;
}

.news-expand .wrap-news-content h6,
.news-expand .wrap-news-content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
}

.news-expand .wrap-news-content h6 {
  color: #b88b01;
}

.news-expand .wrap-news-content p {
  color: #686868;
  text-align: justify;
  text-justify: inter-ideographic;
  margin-bottom: 30px;
}

.btn-close {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  right: -60px;
}

@media screen and (max-width: 375px) {
  .btn-close {
    right: 25px;
    top: 25px;
  }
}

.btn-close:hover::before, .btn-close:hover::after {
  background: #b88b01;
}

.btn-close::before, .btn-close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #686868;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 375px) {
  .btn-close::before, .btn-close::after {
    background: #f5f5f5;
  }
}

.btn-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*# sourceMappingURL=news.css.map */